.select-info {
  height: 150px;
  width: 150px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}
.select-info img {
  height: 15vh;
  width: 15vh;
  border-radius: 40%;
}
.select-info-img {
  text-align: center;
}
.select-info:hover {
  box-shadow: 0px 0px 0px 0px rgb(182, 179, 179);
  border: 0px solid rgb(255, 255, 255);
}
